
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>BICC TYRES &amp; MAG REPAIRS </title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Stamp error page Widget a Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <!-- Meta tag Keywords -->
    <link rel="stylesheet" href="~/Content/error/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link href="//fonts.googleapis.com/css?family=Slabo+27px&amp;subset=latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>

<body>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="main">
        <h1>404</h1>
        <p>
            Ooops, Something Goes Wrong...<br />That's a trouble ? <br /> Probably the page that you are looking for has been renamed.
        </p>
        <button type="button">
            @Html.ActionLink("Go Back","Index","Home")
        </button>
        <div class="copyright">
            <p>Copyright © @DateTime.Now.Year Bicc Tyres &amp; Mag Repairs. All rights reserved By Bicc Tyres
        </div>
    </div>
</body>

</html>

